body{
    display: flex;
    justify-content: center;
    background: url('login.jpg') no-repeat;
    background-color: rgb(0, 0, 0);
    align-items: center;
    padding-top: 100px;
    background-size: cover ;
}

.wrapper{
    width: 500px;
    height: 500px;
    background-color:rgb(188, 122, 34) ;
    justify-content: center;
    border: 2px solid;
    border-radius: 30px;
    background: transparent;
    backdrop-filter: blur(15px);
    color: gray;
    
}

.wrapper-h1{
    font-size: 36;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 50px;
}

.label-1{
    margin-left: 100px;
    line-height: 50px;
    font-size: 20;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-box input{
    position: relative;
    margin-left: 100px;
    line-height: 10px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid;
    text-align:justify;
}

.input-box i{
    position: absolute;
    right: 90px;
    padding-top: 8px;
    transform: translate(-50%);
    font-size: 20px;
}

.label-2{
    margin-left: 100px;
    line-height: 50px;
    font-size: 20;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-password input{
    position: relative;
    margin-left: 100px;
    line-height: 10px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid;
    text-align:justify;
}

.input-password i{
    position: absolute;
    right: 90px;
    padding-top: 8px;
    transform: translate(-50%);
    font-size: 20px;
}

.remember-forgot{
    padding-left: 130px;
    padding-top: 30px;
}

.remember-forgot a{
    color: blue;
}

.btn-1{
    justify-content: center;
    align-items: center;
    line-height: 10px;
    padding-top: 40px;
}
#but1{
    text-decoration: none;
}

.btn{
    width: 80px;
    height: 40px;
    line-height: 10px;
    text-align: center;
    margin-left: 210px;
    border-radius: 10px;
    border: 2px solid;
    font-size: 20;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0ec548;
}

.register-link{
    padding-left: 130px;
    padding-top: 15px;
}

.register-link a{
    color: blue;
}